@background-color: #BCBDAC;
@primary-color: #3B2D38;
@accent: #F02475;
@font-size: 1.2em;
@thin: 1px;


.default-color{
  background-color: @background-color;
  color: @primary-color;
}
.invert-color{
    color: @background-color;
    background-color: @accent;
}

body {
  .default-color;
  width: 1024px;
  margin-top: (2*@font-size);
  font-size: @font-size;
  display: table;
  margin: auto;
  font-family: "proxima-nova", helvetica, sans-serif;
  line-height: 1.32em;
}
a{
  color: @accent;
}
h1, h2, h3{
  color: @accent;
  margin-bottom: 0px;
}
h2{
  margin-top: @font-size;
}

.buy-now a{
  .invert-color;
  font-size: (1.5*@font-size);
  border: @accent @thin solid;
  border-radius: 5px;
  text-decoration: none;
  padding: (2*@thin);
  text-align: center;
}
.meta{
    float: right;
    a{
      text-decoration: none;
      .invert-color;
    }
    li{
      border: @accent @thin solid;
      border-radius: 5px;
      .invert-color;
      list-style: none;
      margin-top: @font-size;
      display: inline-block;
    }
}
.details{
  float: left;
  width: 512px;
}
img.android-robot{
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 1024px;
}