.default-color {
  background-color: #bcbdac;
  color: #3b2d38;
}
.invert-color {
  color: #bcbdac;
  background-color: #f02475;
}
body {
  background-color: #bcbdac;
  color: #3b2d38;
  width: 1024px;
  margin-top: 2.4em;
  font-size: 1.2em;
  display: table;
  margin: auto;
  font-family: "proxima-nova", helvetica, sans-serif;
  line-height: 1.32em;
}
a {
  color: #f02475;
  text-decoration: none;
}
h1,
h2,
h3 {
  color: #f02475;
  margin-bottom: 0px;
}
h2 {
  margin-top: 1.2em;
}
.buy-now a {
  color: #bcbdac;
  background-color: #f02475;
  font-size: 1.7999999999999998em;
  border: #f02475 1px solid;
  border-radius: 5px;
  text-decoration: none;
  padding: 2px;
  text-align: center;
}
.meta {
  float: right;
}
.meta a {
  text-decoration: none;
  color: #bcbdac;
  background-color: #f02475;
}
.meta li {
  border: #f02475 1px solid;
  border-radius: 5px;
  color: #bcbdac;
  background-color: #f02475;
  list-style: none;
  margin-top: 1.2em;
  display: inline-block;
  font-size: 0.7999999999999999em;
}
.details {
  float: left;
  width: 512px;
}
img.android-robot {
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 1024px;
  z-index: -1;
}
.app-details:before,
.app-details:after {
  content: "";
  display: table;
}
.app-details:after,
.app-details {
  clear: both;
}
.app-details {
  margin-top: 1.2em;
}
