@background-color: #BCBDAC;
@primary-color: #3B2D38;
@accent: #F02475;

body {
  background-color: @background-color;
  color: @primary-color;
  width: 1024px;
  margin-top: 2.4em;
  font-size: 1.2em;
  line-height: 3.5em;
  display: table;
  margin: auto;
  font-family: "proxima-nova", helvetica, sans-serif;
  line-height: 1.32em;
}
a{
  color: @accent;
}